<div class="results-container">
    <mat-table [dataSource]="filteredCharacters">
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Character Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="species">
        <mat-header-cell *matHeaderCellDef> Species </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.species}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="birthYear">
        <mat-header-cell *matHeaderCellDef> Birth Year </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.birthYear}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectCharacter(row)"></mat-row>
    </mat-table>
  
    <div class="pagination">
      <mat-paginator [length]="totalCharacters" [pageSize]="5"></mat-paginator>
    </div>
  </div>
  